 
        body {
            margin: 0;
            font-family: "Roboto", sans-serif;
        }

        .headerContainer {
            background-color: #0171f9;
        }

        .header {
            height: 80px;
            background-color: #0171f9;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 100px 0 100px;
            max-width: 1200px;
            margin: auto;
        }
        .header-links {
            width: 50%;

        }

        .header-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }
        .header-links a {
            text-decoration: none;
            color: #fff;
            padding: 10px 15px;
            transition: .3s;
        }

        .header-links a:hover{
            background-color: #2386fe;
        }
        

        .logo img{
            width: 150px;
        }
      
        
        

       .btn {
         background-color: #EE6268;
            padding: 5px 15px;
            border-radius: 15px;
            color: #ffffff;
            border: none;

       }
        .btn:hover{
            background-color: #f2858c;
        }
        
      .Landing-Page {
    background-color: #0171f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    color: #ffffff;
    border-radius: 0 0 50px 50px;
}

.Landing-Page-Text-left-section {
    width: 400px;
}

.Landing-Page-Text p {
    line-height: 1.6;
}

.Landing-Page-Image img {
    width: 300px;
    border-radius: 20px;
}

.Landing-Page-Search input {
    
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0 15px;
}


.Landing-Page-Search button {
    position: absolute;
    left: 200px;
    height: 40px;
}
.landing-Page-Image-cointainer img {
    border-radius: 20px;
    width: 250px;
}





.Trending-container {
    padding: 25px 50px;
}

.trending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.trending-header h1{
margin-top: 0;
}

.Trending-cards {
    display: flex;
    gap: 12px;



}

.Trending-container span {
    color: #ee626b;
    text-transform: uppercase;
    font-size: 14px;
}

.card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 20px;

}
.card .Thumb {
    border-radius: 20px 20px 0 0;


}

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;

}

.card-info img {
    width: 50px;
}


.cardImg img {
    border-radius: 20px;
}

.mostCards {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mostCards .cardInfo .genre {
    margin-bottom: 0;
    color: gray;
}

.mostContainer {
    background-color: #EEEEEE;
    margin-top: 200px;
    padding: 50px;
    border-radius: 100px;

}

.mostContainer .MostPlayed .category {
    max-width: 1300px;
    margin: auto;

}

.categoryContainer {
    margin-top: 150px;
}

.category  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category .card .cardImg {
    position: relative;
    top: -20px;

}

.category  {
    background-color: #0171F9;
    text-align: center;
    color: #fff;
    padding: 15px 0 30px 0;
    font-size: large;
    font-weight: 500;
    border-radius: 20px 20px 0 0;
}

.card{
     background-color: #0171F9;
    text-align: center;
    color: #fff;
    padding: 15px 0 30px 0;
    font-size: large;
    font-weight: 500;
    border-radius: 20px 20px 0 0;
}

.genre{
     background-color: #0171F9;
    text-align: center;
    color: #fff;
    padding: 15px 0 30px 0;
    font-size: large;
    font-weight: 500;
    border-radius: 20px 20px 0 0;
}


.category .categoryCards{
    margin-top: 30px;
}
.card{
    transition: .3s;

}
.category .card:hover{
    transform: scale(1.05);
}


/* footer */

.footerContainer{
    background-color: #0171F9;
    height: 150px;
    border-radius: 100px 100px 0 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.footer{
    max-width: 1300px;
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: larger;
}

